body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
    background-color: fuchsia;
}

#my-projects {
    background-color: fuchsia;
}

#mfh {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 20%;
    z-index: 9;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
    background-color: fuchsia;
}

#description {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: fuchsia;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
    background-color: fuchsia;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.8);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
